:root
{  /*index colors*/
--main-background-color: #FFFFFF;
--basic-letters: #333333;
--basic-reasons-blue: #81B3D2;
--basic-reasons-gray:#EEEEEE;
--basic-gray: #766357;
--basic-light-blue: #F2F2F2;
--basic-light-gray: #A9A9A9;
--basic-footer-white:rgba(255, 255, 255, 0.9);
--html-academy-color:#231F20;
--basic-background-color: #888888;
--black:#000000;
/*catalog colors*/
--line-color: #E5E5E5;
--color-item:#CACACA;
--color-reiting:#666666;
--color-blue-blue:#669EC0;
--color-blue-blue-blue:#5496BD;
--gray-gray:#604E43;
--gray-gray-gray:#503E33;
--color-gray-footer:#BDBBBC;
}
.page
{
height:100%;

}
ul,ol,p,h1,h2,h3,h4,h5,h6
{
margin: 0;
padding: 0;
}
.page
{
  display:flex;
font-family:'PT Sans', Arial,sans-serif;
text-transform:uppercase;
background-color:var(--main-background-color);
font-size:14px;
font-weight:400;
line-height:26px;
}
.olimp
{
width:1200px;
border:1px solid red;
justify-content:center;
margin:0 auto;
}
.page-wraper
{
align-content: start;
display:grid;
grid-template-rows: min-content 1fr min-content;
min-height:100%;
width:1200px;
margin:0 auto;
}
.page-footer
{
display:grid;
grid-template-columns:400px 400px 400px;
}
.logo
{
position: absolute;
margin-left: 531px;
}
.navigation
{
display:grid;
}
a
{
text-decoration:none;
}
img
{
max-width:100%;
height:auto;
}
button
{
text-transform:uppercase;
}
.site-navigation
{
font-size:inherit;
font-weight:700;
color:var(--black);
padding:0;
margin:0;
list-style:none;
margin: 0 auto;
width:1200px;
height:56px;
display:grid;
grid-template-columns: 72px 264px 264px 264px 264px 72px;
}
.site-navigation li:nth-child(1)
{
display: flex;
align-items:center;
grid-column-start: 2;
grid-column-end: 3;
}
.site-navigation li:nth-child(2)
{
display: flex;
align-items:center;
grid-column-start: 3;
grid-column-end: 4;
}
.site-navigation li:nth-child(3)
{
display: flex;
align-items:center;
grid-column-start: 4;
grid-column-end: 5;
}
.site-navigation li:nth-child(4)
{
display: flex;
align-items:center;
grid-column-start: 5;
grid-column-end: 6;
}
.site-navigation li:nth-child(1) ,.site-navigation li:nth-child(2)
{
justify-content: flex-start;
}
.site-navigation li:nth-child(3) ,.site-navigation li:nth-child(4)
{
justify-content: flex-end;
}
.promo
{
text-align:center;
background-image: url(../img/sedona.jpg);
min-height:509px;
}
.promo::after{background-image:url(../img/group.png);}
.sedona-fife-reasons
{
display:flex;
width:1200px;
height:214px;
flex-direction:column;
align-items:center;
justify-content: space-around;
}
.sedona-town
{
display:flex;
font-size:21px;
font-weight:700;
height:40px;
width:470px;
color:var(--black);
justify-content:center;
}
.piece
{
display:flex;
font-size:21px;
font-weight:700;
height:40px;
width:470px;
color:var(--black);
justify-content:center;
margin-top:-75px;
}
.five-reasons
{
text-align:center;
color:var(--basic-letters);
}
.features-list
{
display:flex;
flex-wrap:wrap;
padding:0;
list-style:none;
}
.features-list li:nth-child(1)
{
position:relative;
display:flex;
flex-wrap:wrap;
}
.feature-info
{
display:flex;
width:400px;
height:257px;
flex-direction:column;
justify-content:space-around;
align-items:center;
}
.feature-image-wrap
{
margin-left:400px;
display:flex;
width:800px;
height:257px;
}
.advantages-list
{
display:flex;
}
.advantages-item
{
height:332px;
flex-direction:column;
align-items:center;
justify-content:center;
}
.features-list li:nth-child(2)
{
display:flex;
}
.features-list li:nth-child(3)
{
display:flex;
min-height:257px;
width:400px;
}
.features-list li:nth-child(4)
{
display:flex;
width:400px;
min-height: 257px;
}
.features-list li:nth-child(5)
{
display:flex;
min-height:257px;
width:400px;
}
.feature-header,.advantages-item,.advantages-title
{
font-size:21px;
line-height:21px;
font-weight:700;
text-align:center;
color:var(--black);
}
.features-item,.advantages-description
{
font-size:14px;
line-height:21px;
color:var(--basic-letters);
}
.bg-blue
{
background-color: var(--basic-reasons-blue);
color: var(--main-background-color);
}
.bg-gray
{
background-color: var(--basic-reasons-gray);
color:var(--basic-letters);
}
.bg-white
{
background-color:var(--main-background-color);
}
.appoitment-header
{
font-size:30px;
line-height:24px;
font-weight:700;
text-align:center;
color:var(--black);
}
.trip-info
{
line-height:24px;
text-align:center;
color:var(--basic-letters);
}
.appointment-button
{
background:var(--basic-gray);
color:var(--main-background-color);
text-transform:uppercase;
font-size:21px;
font-weight:700;
text-align:center;
padding:28.5px 124px 31.5px 125px;
margin-left:33%;
}
.form-check-in
{
display:none;
width:555px;
height:400px;
position:absolute;
margin-left:383px;
margin-top:-9px;
}
.appointment:hover .form-check-in
{
display:inline;
background-image: url(../img/layer-35.png);
}
.appointment:hover
{
display:inline;
}
.appointment-button:hover
{
background-color:var(--gray-gray);
}
.appointment-button:active
{
background-color:var(--gray-gray-gray);
}
.check-in
{
margin:55px;
}
.check-on
{
  margin:55px;
}
.butom-form
{
margin:55px;
}
.form-check-in label
{
font-weight:700;
text-align:center;
}
.map
{
background-image:url(../img/map.jpg);
background-repeat:no-repeat;
margin-bottom: -6px;
}
.phone,.hashtag
{
font-size:21px;
font-weight:700;
color:var(--black);
height:0px;
}
.socials-list
{
padding:0;
margin:0;
list-style:none;
display:flex;
justify-content:center;
align-items:center;
width:400px;
height:121px;
}
.social-link
{
display:block;
background-image:url(../img/rect.png);
background-repeat: no-repeat;
width:50px;
height:50px;
background-position: 50% 50%;
}
.social-link:hover
{
background-image:url(../img/rect-1.png);
}
.social-link:active
{
background-image:url(../img/rect-2.png);
}
.vk
{
width: 12px;
height:22px;
padding-left:39px;
padding-top: 26px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-image:url(../img/twitter2.svg);
}
.vk:active
{
background-image:url(../img/twitter3.svg);
}
.fb
{
width: 12px;
height:22px;
padding-left:39px;
padding-top: 26px;
background-image:url(../img/fb-icon.svg);
background-position: 50% 50%;
background-repeat: no-repeat;
}
.fb:active
{
background-image:url(../img/fb-icon-1.svg);
}
.youtube
{
width: 12px;
height:22px;
padding-left:39px;
padding-top: 26px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-image:url(../img/youtube.svg);
}
.youtube:active
{
background-image:url(../img/youtube-1.svg);
}
.copyright-link
{
color:var(--html-academy-color);
}
.copyright
{
display:flex;
justify-content:center;
align-items:center;
width:400px;
height:121px;
}
.logo-web
{
margin-top:-10px;
margin-right:5px;
}
.contacts
{
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
width:400px;
height:121px;
}
.hashtag
{
display:flex;
position:relative;
height:20px;
width:150px;
margin-top:25px;
}
.phone-block{
display:flex;
position:relative;
height:20px;
width:180px;
margin-bottom:30px;
}

/*catalog*/

.site-navigation-item
{
color:var(--black);
}
.active
{
color:var(--basic-gray);
}
.site-navigation-item:hover
{
color:var(--basic-reasons-blue);
}
.site-navigation-item:active
{
color:var(--basic-light-gray);
}
.search
{
margin-top:-70px;
}
.catalog-form-pic
{
margin-top:70px;
background-image:url(../img/filter-1.jpg);
height:218px;
width:1200px;
display:grid;
grid-template-columns: 72px 254px 274px 528px 72px;
}
.catalog-form-part-1-1
{
grid-column-start: 2;
grid-column-end: 3;
height:200px;
display:flex;
flex-direction:column;
justify-content:space-around;
}
.first-checkbox
{
opacity:0;
}
input[type="checkbox"] + span
{
position: absolute; /* Абсолютное позиционирование */
left: 0; top: 0;
width: 100%; height: 100%;
background: url(../img/checkbox-off.svg) no-repeat; /* Фоновый рисунок */
cursor: pointer; /* Курсор в виде руки */
}
label {
width: 32px; /* Ширина рисунка */
height: 26px; /* Высота рисунка */
display: block; /* Блочный элемент */
position: relative; /* Относительное позиционирование */
 }
input[type="checkbox"]:checked + span
{
position: absolute; /* Абсолютное позиционирование */
left: 0; top: 0;
width: 100%; height: 100%;
background: url(../img/checkbox-on.svg) no-repeat; /* Фоновый рисунок */
cursor: pointer; /* Курсор в виде руки */
}
.catalog-form-part-1-2
{
grid-column-start: 3;
grid-column-end: 4;
height:200px;
display:flex;
flex-direction:column;
justify-content:space-around;
}
.catalog-form-part-2
{
grid-column-start: 4;
grid-column-end: 5;
}
.toggle
{
position: relative;
height: 40px;
margin-bottom: 15px;
padding-top:40px;
padding-left:150px;
padding-right:150px;
background-color: #f1f1f1;
border-radius: 5px;
}
.scale {
height: 2px;
background: black;
}
.bar {
width: 70%;
height: 2px;
background: #00ca74;
}
.toggles
{
position: absolute;
top: 31px;
left: 100 px;
width: 4px;
height: 4px;
padding: 0;
border: 8px solid #ffffff;
background-color: #ababab;
border-radius: 50%;
box-shadow: 0 2px 1px 0 #cfcfcf;
}
.toggle-min
{
left:160px;
}
.toggle-max
{
  left:260px;
}
.price
{
border:1px solid;
}
/*link end*/
.arrow-sorting
{

list-style:none;
}
.sorting
{
font-size:12px;
line-height:18px;
text-align:center;
color:var(--black);
}
.sorting-list
{
padding:0;
margin:0;
list-style:none;
}
.find-item
{
font-size:21px;
font-weight:700;
color:var(--black);
margin-top:31px;
text-align:right;
}
.sorting-text
{
font-size:12px;
line-height:18px;
font-weight: 400;
}
.sorting-item
{
font-size:12px;
line-height:18px;
text-align:left;
color:var(--basic-light-gray);
}
.sorting-item:hover
{
color:var(--basic-reasons-blue);
}
.sorting-item:active
{
color:var(--black);
}
.up
{
width:10px;
height:10px;
background-image:url(../img/icon-up.svg);
}
.up:hover
{
background-image:url(../img/icon-up-1.svg);
}
.up:active
{
background-image:url(../img/icon-up-2.svg);
}
.down
{
width:10px;
height:10px;
background-image:url(../img/icon-down.svg);
}
.down:hover
{
background-image:url(../img/icon-down-1.svg);
}
.down:active
{
background-image:url(../img/icon-down-2.svg);
}
.reiting
{
width:100px;
padding-top:0;
color:var(--color-reiting);
background-color:var(--basic-light-blue);
}
.result-reiting-1
{
width:75px;
background:url(../img/star.svg);
background-repeat: repeat-x;
}
.result-reiting-2
{
width:55px;
background:url(../img/star.svg);
background-repeat: repeat-x;
}
.result-reiting-3
{
width:35px;
background:url(../img/star.svg);
background-repeat: repeat-x;
}
.result-info,.result-header
{
font-size:22px;
line-height:21px;
font-weight:700;
text-align:left;
color:var(--black);
margin-top:0;
}
.result-info:hover
{
color:var(--basic-reasons-blue);
}
.result-info:active
{
color:var(--basic-light-gray);
}
.result-housing
{
text-align:center;
color:var(--basic-letters);
}
.housing-catalog
{
display:flex;
height:45px;
width:260px;
align-items:center;
}
.result-housing-1
{
display:flex;
width:120px;
}
.result-housing-2
{
display:direction;
width:115px;
}
.result-link
{
padding:6px 16px 6px 17px;
line-height:21px;
text-align:center;
color:var(--main-background-color);
background-color:var(--basic-reasons-blue);
}
.result-link:hover
{
background-color:var(--color-blue-blue);
}
.result-link:active
{
background-color:var(--color-blue-blue-blue);
}
.result-submit
{
padding:3px 17px 3px 16px;
line-height:21px;
text-align:center;
color:var(--main-background-color);
background-color:var(--basic-gray);
}
.result-submit:hover
{
background-color: var(--gray-gray);
}
.result-submit:active
{
background-color:var(--gray-gray-gray);
}
.result-pic
{
text-align:left;

}
.logo-web
{
margin-left:5px;
width:75px;
height:15px;
float:left;
margin-bottom:0;
}
.logo-img
{
margin:20px;
margin-left:0;
}
.logo-img:hover
{
fill:var(--basic-reasons-blue);
}
.logo-img:active
{
fill:var(--color-gray-footer);
}
.unite-first-result-section
{
display:flex;
width:1200px;

}
.result-search
{
display:flex;
height:87px;
width:200px;
margin-left:73px;
align-items:center;
}
.result-sorting .sorting-list
{
display:flex;
width:400px;
height:87px;
justify-content:space-around;
align-items:center;
}
.result-search-info
{
display:flex;
width:1200px;
flex-direction: column;
}
.result-search-list
{
display:flex;
flex-direction: row;
flex-wrap:wrap;
}
.result-item-1-1,.result-item-2-1, .result-item-3-1
{
display:flex;
width:208px;
height:151px;
align-items: flex-start;
justify-content: flex-end;
margin-right:30px;

}
.result-item-1-2,.result-item-2-2, .result-item-3-2
{
display:flex;
width:258px;
height:151px;


}
.result-item-1-3,.result-item-2-3, .result-item-3-3
{
display:flex;
width:631px;
height:151px;
justify-content: space-between;
flex-direction:column;
align-items:flex-end;
}
.reiting
{
margin-bottom:50px;

}
.arrow .arrow-sorting
{
display:flex;
height:87px;
width:454px;
flex-direction:row-reverse;
justify-content: flex-start;
align-items:center;

}
.down
{

margin-left:15px;
background-repeat: no-repeat;
}



